@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.eot');
    src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akzidenz-Grotesk BQ Condensed';
    src: url('AkzidenzGroteskBQ-BdCnd.eot');
    src: url('AkzidenzGroteskBQ-BdCnd.eot?#iefix') format('embedded-opentype'),
        url('AkzidenzGroteskBQ-BdCnd.woff2') format('woff2'),
        url('AkzidenzGroteskBQ-BdCnd.woff') format('woff'),
        url('AkzidenzGroteskBQ-BdCnd.svg#AkzidenzGroteskBQ-BdCnd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

